body {
  background-image: url('http://4.bp.blogspot.com/-vnayq4SF6Is/TtxVEVoEzII/AAAAAAAABFE/JPydeWd1frw/s1600/nintendo-background-8-745865.gif');
  margin:0;
  padding:0;
}

div {
  border-radius: 10px 10px;

}

div #container {
  background: #6CB0DD;

}

header {
  margin: 0 auto;
  width: 50%;
  background: #6CB0DD;
  border-radius: 10px 10px;
  opacity: 0.6;
  border: #84CCCC solid thin;
}

a:link, a:active, a:hover, a:visited {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

div #content {
  background: #6CB0DD;
  opacity: 0.6;
  margin: 10px auto;
  width: 50%; 
  border: #84CCCC solid thin;
}

nav img {
  height: 20px;
}

ul li {
  list-style: none;
  display: inline;
}

header img {
  display: inline;
  margin: 0;
  float: left;
  
}

footer {
  margin: auto;
  padding: auto;
  width: 50%;
  background: #6CB0DD;
  border-radius: 10px 10px;
  border: #84CCCC solid thin;
  opacity: 0.6;
}

footer p {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

h1, h2 {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  margin-left: 5%;
  margin-right: 5%;
}

h3, h4, h5, h6, p {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

ul li {
  color: black;
  font-size: 1.1em;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

table {
  margin-left: 5%;
  margin-right: 5%; 
}