body {
  background: #678BD3;
  margin:0;
  padding:0;
}

div {
  border-radius: 10px 10px;

}

div #container {
  background: #6CB0DD;

}

header {
  margin: 0 auto;
  width: 50%;
  background: #6CB0DD;
  border-radius: 10px 10px;
  border: #84CCCC solid thin;
}

a:link, a:active, a:hover, a:visited {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

div #content {
  background: #6CB0DD;
  margin: 0 auto;
  width: 50%; 
  border: #84CCCC solid thin;
}

nav img {
  height: 20px;
}

ul li {
  list-style: none;
  display: inline;
}

header img {
  display: inline;
  margin: 0;
  float: left;
  
}

footer {
  margin: auto;
  padding: auto;
  width: 50%;
  background: #6CB0DD;
  border-radius: 10px 10px;
  border: #84CCCC solid thin;
}

h1, h2 {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

h3, h4, h5, h6, p {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}