body {
  background-image: url('http://4.bp.blogspot.com/-vnayq4SF6Is/TtxVEVoEzII/AAAAAAAABFE/JPydeWd1frw/s1600/nintendo-background-8-745865.gif');
  margin:0;
  padding:0;
}

div {
  border-radius: 10px 10px;

}

div #container {
  margin: 0 auto;

}

header {
  margin: 0 auto;
  width: 50%;
  background: #11B000;
  border-radius: 10px 10px;
  opacity: 0.6;
  border: #84CCCC solid thin;
}

a:link, a:active, a:hover, a:visited {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

div #content {
  background: #11B000;
  opacity: 0.6;
  margin: 10px auto;
  width: 50%; 
  border: #84CCCC solid thin;
}

div #new {
  margin: 10px auto;
  margin-left: 5%;
}

nav img {
  height: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

ul li {
  list-style: none;
  display: inline;
}

header img {
  display: inline;
  margin: 0;
  float: left;
  
}

footer {
  margin: auto;
  padding: auto;
  width: 50%;
  background: #11B000;
  border-radius: 10px 10px;
  border: #84CCCC solid thin;
  opacity: 0.6;
}

footer p {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

h1, h2 {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  margin-left: 5%;
  margin-right: 5%;
}

h3, h4, h5, h6, p {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

p #flash {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  margin-left: 5%;
  margin-right: 5%; 
  font-size: 1.2em
}

ul li {
  color: black;
  font-size: 1.1em;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

table#index {
  margin-left: 5%;
}

#game tr {
  border:10px solid black;
  text-align: center;
  vertical-align: middle;
  font-size: 80px 
  
}

#game td {
  border:10px solid black;
  text-align: center;
  font-size: 80px;
  height: 135px;
  width: 120px;
}